body {
  background-color: #f6f1ebff;
  margin: 0;
  padding: 0;
  font-family: 'Oswald'; 
}
  
.opening-container {
  background-color: #1c4587ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; 
}

.opening-container .FBNLogo {
  margin-right: 10px; 
}

.opening-container .FBNLogo img {
  max-width: 250px; 
  height: auto; 
}

.opening-container .MCTitle {
  text-align: center;
  font-size: 40px;
  color: #fff;
  padding-right: 200px;
  flex-grow: 1;
}

/* navigation bar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #f6f1ebff;
}

.navbar a {
  display: block;
  color: #e8bd45;
  text-decoration: none;
  padding: 25px;
  font-size: 25px;
}

/* CSS styles for the carousel */
.carousel-container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  padding: 10px;
  text-align: center;
  position: relative;
}

.slide img {
  max-width: auto;
  width: auto;
  height: 500px;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e89845ff;
  color: #fff;
  padding: 10px;
  opacity: 0.9;
  width: 100%;
}


.slide-content h2, .slide-content p {
  margin: 0;
}

.s0 {
  background-color: #e27fc4ff;
}

.s1{
  background-color: #e89845ff;
}

.s2{
  background-color: #e8bd45ff;
}

.s3{
  background-color: #1c4587ff;
}

.carousel-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.arrow {
  position: absolute;
  top: calc(50% - 33px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #333;
}

.arrow.prev {
  left: 10px;
}

.arrow.next {
  right: 10px;
}

.arrow.prev:before {
  content: "<";
}

.arrow.next:before {
  content: ">";
}

/* Hide scrollbar */
.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* News */

.table {
  display: table;
  background: lightblue;
  background-color: #f6f1ebff;
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  margin: 10px;
}
.leftTable, .rightTable {
  border-collapse: collapse;
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.leftTable {
  background: pink;
  padding: 20px 10px 20px 20px;
  text-align: center;
  border: 2px solid #3A6EA5;
  margin-right: 0;
}
.rightTable {
  background: lightgreen;
  padding: 20px 20px 20px 10px;
  margin-left: 0;
}

.nest {
  padding-bottom: 10px;
  border: 2px solid #3A6EA5;
}

/* Map */

.toGo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; 
  background-color: #f6f1ebff;
}

.toGo h2{
  color: #e27fc4ff;
  font-size: 35px;
}

.Mapper{
  display: flex;
  justify-content: center;
  background-color: #f6f1ebff;
}

.Mapper img{
  max-width: 750px; 
  height: auto; 
}

/* Footer */ 

.footer {
  background-color: #f6f1ebff;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #888;
}
