body {
    background-color: #f6f1ebff;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Arial, sans-serif; 
}
    
.opening-container {
    background-color: #1c4587ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
  
.opening-container .FBNLogo {
    margin-right: 10px;
    margin-left: 10px; 
}
  
.opening-container .FBNLogo img {
    max-width: 250px;
    height: auto;
}
  
.opening-container .WDWLogo {
    display: flex;
    flex-grow: 1; 
    justify-content: center; 
    margin-right: 250px;
}
  
.opening-container .WDWLogo img {
    max-width: 400px;
    height: auto;
    filter: brightness(10000000);
}

/* Carousel */
.carousel-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #d6cae4ff;
}
  
.carousel-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00233c;
}
  .carousel {
    display: flex;
    width: 100%; 
    transition: transform 0.3s ease; 
  }
  
  .slide {
    display: flex;
    flex: 0 0 100%;
    padding: 10px;
    text-align: center;
    position: relative;
  }
  
  .image-container,
  .text-container {
    flex: 1;
  }

.text-container h3 {
    font-size: 40px;
}

.text-container p {
    font-size: 25px;
}

  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .carousel-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .arrow {
    position: absolute;
    top: calc(50% - 33px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: purple;
  }
  
  .arrow.prev {
    left: 10px;
  }
  
  .arrow.next {
    right: 10px;
  }
  
  .carousel-navigation .arrow:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }
  
  .carousel-navigation .arrow:hover:before {
    color: white;
  }
  
  .carousel-navigation .arrow:before {
    content: "";
  }
  
  .carousel-navigation .arrow.prev:before {
    content: "<";
  }
  
  .carousel-navigation .arrow.next:before {
    content: ">";
  }
  