/* CSS styles for the navigation bar */
.container {
  display: flex;
  justify-content: center;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f9f9f9;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #ddd;
}

/* CSS styles for the carousel */
.carousel-container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  padding: 10px;
  text-align: center;
  position: relative;
}

.slide img {
  max-width: auto;
  width: auto;
  height: 500px;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px;
  opacity: 0.9;
}

.slide-content h2, .slide-content p {
  margin: 0;
}

.carousel-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.arrow {
  position: absolute;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  background-color: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
}

.arrow.prev {
  left: 10px;
}

.arrow.next {
  right: 10px;
}

.arrow.prev:before {
  content: "<";
}

.arrow.next:before {
  content: ">";
}

/* Hide scrollbar */
.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}